body  {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mothercolor: rgba(11, 92, 211, 1);
    --childcolor: rgba(212, 61, 132, 1);
    --blackcolor: rgba(20, 16, 16, 1);
    --whitecolor: rgba(255, 255, 255, 1);
    --graycolor: rgba(79, 79, 79, 1);
    --signuptextcolor: rgba(13, 110, 253, 1);
    --footerblackcolor: rgba(32, 32, 32, 1);
    --errorcolor: rgba(226, 41, 41, 1);   
    --inputcolor: rgba(79, 79, 79, 0.2);
    --logincolor: rgba(170, 49, 105, 1);
    --maxwidth: 1237px;
    --maxwidth2: 1300px;
    --fontfamily: 'Montserrat', sans-serif;
    --fontfamily2: 'Poppins', sans-serif;
    --sectionc: rgba(207, 226, 255, 1);

}

.header {
    background-color: var(--whitecolor);
}

.max_width {
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0px auto;
}

.nav-bar-tmh {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-tmh-logpc {
    background-image: url(../assess/tmp_b9f54d42-a566-4b9a-9d32-6a7cbf15a49f\ 1.png);
    background-size: cover;
    height: 98px;
    width: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar-tmh-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar-tmh-logo a {
    font-family: var(--fontfamily);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.1em;
    color: var(--mothercolor);
    text-decoration: none;
}

.nav-bar-tmh-logo span {
    color: var(--childcolor);
}

.nav-bar-tmh-links {
    display: flex;
    align-items: center;
}

.nav-bar-tmh-links ul {
    width: 431px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-tmh-links a {
    text-decoration: none;
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--blackcolor);
}

.nav-bar-tmh-links-signup {
    /*margin-left: 69px;*/
    padding: 12px 24px;
    background-color: var(--signuptextcolor);
    border-radius: 8px;
}

.nav-bar-tmh-links-signup a {
    text-decoration: none;
    color: var(--whitecolor);
    font-family: var(--fontfamily2);
    font-weight: 500;
}

.containera {
    background-image: url(../assess/Group\ 48095868.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 934.66px;
}

.container-text {
    padding-top: 242px;
}

.container-a-text {
    height: 185px;
    width: 1014px;
    font-family: var(--fontfamily);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0.1em;
    color: var(--whitecolor);
}

.container-a-texttwo {
    height: 84px;
    width: 553px;
    font-family: var(--fontfamily);
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: var(--whitecolor);
}

.container-get-started {
    background-color: var(--whitecolor);
    width: 184px;
    margin: 60px 0px 299.66px 0px;
    padding: 21px 46.5px;
    border-radius: 8px;
}

.container-get-started a {
    text-decoration: none;
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--signuptextcolor);
}

.containerb-text {
    padding: 105px 0px 148px 0px;
    text-align: center;
    color: var(--graycolor);
}

.container-b-text {
    margin-bottom: 12px;
    font-family: var(--fontfamily);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0.1em;
    text-align: center;
}

.container-b-texttwo {
    height: 320px;
    width: 945px;
    margin: 0px auto;
    font-family: var(--fontfamily2);
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0.05em;
}

.containerc {
    background-color: var(--sectionc);
    position: relative;
}

.container-c-text {
    padding: 105px 0px 133px 0px;
}

.container-c-text-content {
    text-align: center;
    color: var(--graycolor);
}

.container-c-text-content-tmh {
    font-family: var(--fontfamily);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0.1em;
}

.container-c-text-content-tmhtwo {
    height: 118px;
    width: 977px;
    margin: 0px auto;
    font-family: var(--fontfamily2);
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.05em;
}

.flex-content-tmh {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
}

.flex-content-tmh-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--graycolor);
}

.flex-content-tmh-box-text {
    padding: 27px 0px 30px 0px;
    font-family: var(--fontfamily);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.1em;
}

.flex-content-tmh-box-texttwo {
    height: 96px;
    width: 360px;
   text-align: center;
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.group-love {
    background-image: url(../assess/Group.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 152.65609744934912px;
    width: 171.52224735629517px;
    position: absolute;
    bottom: 0px;
}

.containerd {
    position: relative;
}

.flex-content-containerd {
    display: flex;

}

.flex-content-containerd-picture {
    background-image: url(../assess/pexels-william-fortunato-6393377\ 2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    flex-basis: 50%;
}

.flex-content-containerd-text {
    flex-basis: 50%;
    color: var(--graycolor);
}

.flex-content-containerd-text-one {
    margin: 151px 0px 20px 0px;
    font-family: var(--fontfamily);
    font-size: 56px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.1em;
}

.flex-content-containerd-text-two {
    font-family: var(--fontfamily2);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.055em;
}

.flex-content-containerd-text-link {
    margin: 37px 0px 317px 0px;
}

.flex-content-containerd-text-link p {
    width: 190px;
    padding: 21px 46px;
    border-radius: 8px;
    border: 1px solid var(--signuptextcolor);
}

.flex-content-containerd-text-link a {
    text-decoration: none;
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--signuptextcolor);
}

.grouptwo-love {
    background-image: url(../assess/group2.png);
    background-position: top;
    background-size: cover;
    height: 152.656066931771px;
    width: 171.5222320975061px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.containere {
    background-color: var(--sectionc);
}

.container-e-medical {
    padding: 103px 0px 71px 0px;
}

.container-e-medical-text {
    text-align: center;
    color: var(--graycolor);
}

.container-e-medical-text-one {
    margin-bottom: 12px;
    font-family: var(--fontfamily);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0.1em;
}

.container-e-medical-text-two {
    height: 67px;
    width: 1021px;
    margin: 0px auto;
    font-family: var(--fontfamily2);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.05em;
}

.container-e-medical-container {
    margin-top: 116px;
}

.container-e-medical-flex-container {
    margin-bottom: 68px;
    display: flex;
    justify-content: space-between;
    color: var(--graycolor);
}

.container-e-medical-flex-container-flex {
    display: flex;
}

.container-e-medical-flex-container-flex-one {
    height: 109px;
    width: 109px;
    border-radius: 100%;
}

.box5 {
    margin-right: 35px;
}

.radius-1 {
    background-image: url(../assess/Ellipse\ 169.png);
    background-size: cover;
}

.radius-2 {
    background-image: url(../assess/Ellipse\ 171.png);
    background-size: cover;
}

.radius-3 {
    background-image: url(../assess/Ellipse\ 173.png);
    background-size: cover;
}

.radius-4 {
    background-image: url(../assess/Ellipse\ 170.png);
    background-size: cover;
}

.radius-5 {
    background-image: url(../assess/Ellipse\ 172.png);
    background-size: cover;
}

.radius-6 {
    background-image: url(../assess/Ellipse\ 174.png);
    background-size: cover;
}

.container-e-medical-flex-container-flex-two {
    padding-left: 16px;
    align-self: center;
}

.container-e-medical-flex-container-flex-two-one {
    font-family: var(--fontfamily2);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.container-e-medical-flex-container-flex-two-two {
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.containerf {
    padding: 92.48px 0px 130.62px;
    text-align: center;
    color: var(--graycolor);
}

.container-f-community-text-one {
    margin-bottom: 12px;
    font-family: var(--fontfamily);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0.1em;
}

.container-f-community-text-two {
    height: 76px;
    width: 725px;
    margin: 0px auto;
    font-family: var(--fontfamily2);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.05em;
}

.container-f-button {
    margin-top: 59.92px;
}

.container-f-button button {
    background-color: var(--signuptextcolor);
    width: 184px;
    border-radius: 8px;
    padding: 16px 32px;
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--whitecolor);
    border: none;
}

.footer {
    background-color: var(--sectionc);
    padding: 37px 0px 0px 0px;
}

.footer-flex-content {
    display: flex;
}

.footer-flex-content-one-logo {
    background-image: url(../assess/tmp_b9f54d42-a566-4b9a-9d32-6a7cbf15a49f\ 1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 168px;
    width: 168px;
}

.footer-flex-content-one-text-one {
    height: 88px;
    width: 246px;
    margin: 20px 0px;
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: justify;
    color: var(--graycolor);
}

.footer-flex-content-one-text-two {
    font-family: var(--fontfamily);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: var(--footerblackcolor);
}

.footer-flex-content-links {
    margin-left: 70px;
}

.footer-flex-content-links p {
    margin-bottom: 20px;
}

.footer-flex-content-links a {
    text-decoration: none;
    color: var(--footerblackcolor);
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

.footer-flex-content-links-headers a {
    font-family: var(--fontfamily);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--signuptextcolor);
}

.footer-flex-content-links-flex {
    width: 168px;
    display: flex;
    justify-content: space-between;
}

#backToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#backToTop i {
    cursor: pointer;
    padding: 10px 13px;
    font-size: 14px;
    color: var(--primaryColor);
    background-color: #fff;
}
#backToTop i:hover {
    color: #fff;
    background-color: var(--childcolor);
    transition: 2s;
}

/*sign up Page*/
.signupflex {
    display: flex;
}

.signupflex-one {
    margin-left: 56px;
    flex-basis: 50%;
    color: var(--graycolor);
}

.signupflex-one-padding {
    padding: 29px 0px 80px 0px;
}

.signupflex-one-form-text {
    font-family: var(--fontfamily2);
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.signupflex-one-form {
    margin-top: 40px;
}

.signupflex-one-form-detail {
    margin-bottom: 8px;
    font-family: var(--fontfamily2);
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.05em;
}

.signupflex-one-form-detail span {
    color: var(--errorcolor);
}

.signupflex-one-form input {
    width: 550px;
    margin-bottom: 18px;
    padding: 19px 0px 20px 18px;
    border: 1px solid var(--inputcolor);
    border-radius: 8px;
    outline: none;
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.05em;
}

.signupflex-two {
    background-image: url(../assess/Rectangle\ 1343.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 50%;
}

.signupflex-one-form-texttwo {
    margin-bottom: 30px;
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;
}

.signupflex-one-form-button {
    margin: 22px 0px 14px 0px;
}

.signupflex-one-form-button button {
    background-color: transparent;
    width: 550px;
    border-radius: 8px;
    padding: 16px 32px 16px 32px;
    color: var(--signuptextcolor);
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    border: 1px solid var(--signuptextcolor);
}

.signupflex-one-form-button-login{
    margin-left: 134px;
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
}

.signupflex-one-form-button-login a {
    text-decoration: none;
    color: var(--logincolor);
}

/* login page*/

.loginflex {
    height: 100vh;
}

.loginflex-one-form-button button {
    background-color: var(--signuptextcolor);
    color: var(--whitecolor);
}

.loginflex-two {
    background-image: url(../assess/Rectangle\ 5883.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 50%;
}

.max-width {
    width: 100%;
    max-width: var(--maxwidth2);
    margin: 0px auto;
}

.continue-page {
    padding: 39px 0px 150px 0px;
}

.indicate-interest-text {
    margin: 72px 0px 75px 0px;
    text-align: center;
    color: var(--graycolor);
    font-family: var(--fontfamily);
}

.indicate-interest-text-one {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.02em;
}

.indicate-interest-text-two {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.05em;
}

.continue-page-two {
    color: var(--graycolor);
    font-family: var(--fontfamily);
}

.continue-page-two-interest {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.02em;
}

.continue-page-two-flex {
    margin-top: 68px;
    font-family: var(--fontfamily);
}

.continue-page-two-flex-flex {
    margin-bottom: 84px;
    display: flex;
    justify-content: space-between;
}

.continue-page-two-flex-flex p {
    width: 214px;
    padding: 12px 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: center;
    border: 1px solid var(--childcolor);
    border-radius: 8px;
}

.create-account-button {
    margin-top: 17px;
    text-align: center;
}

.create-account-button button {
    background-color: var(--signuptextcolor);
    width: 550px;
    padding: 16px 32px 16px 32px;
    font-family: var(--fontfamily2);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--whitecolor);
    border-radius: 8px;
    border: none;
}